<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%1c.%t line:%L] %-5p - %m%n"/>
        </Console>
        <Console name="ConsoleMain" target="SYSTEM_OUT">
                <PatternLayout pattern="%-5p %m%n"/>
        </Console>
        <File name="allLevelsFile" fileName="target/test.log">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
        </File>
        <File name="infoFile" fileName="target/info.log">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
        </File>
        <File name="debugFile" fileName="target/debug.log">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
        </File>
        <File name="errorFile" fileName="target/error.log">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="Mediator" level="trace" additivity="true">
            <AppenderRef ref="debugFile" level="debug"/>
            <AppenderRef ref="infoFile" level="info"/>
        </Logger>
        <Logger name="Command" level="trace" additivity="true">
            <AppenderRef ref="debugFile" level="debug"/>
            <AppenderRef ref="infoFile" level="info"/>
        </Logger>
        <Logger name="SchedulerFCFS" level="trace" additivity="true">
            <AppenderRef ref="debugFile" level="debug"/>
        </Logger>
        <Logger name="Core" level="trace" additivity="true">
            <AppenderRef ref="Console" level="info"/>
        </Logger>
        <Logger name="Main" level="trace" additivity="true">
            <AppenderRef ref="ConsoleMain" level="info"/>
        </Logger>
        <Root level="TRACE">
            <AppenderRef ref="allLevelsFile"/>
        </Root>
    </Loggers>
</Configuration>
